{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'posts/main.css' %}?{% now "U" %}">

    <title>FastDel1ver</title>

</head>
<body>
    {% language 'pl' %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <nav class="navbar navbar-dark bg-steel fixed-top" id="top-nav">
      <a class="navbar-brand" href="{% url 'posts-home' %}">
        Fast Del1very
      </a>

        {% if user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <a id="nickname">{{ user.username }} </a>
      </button>
        {% endif %}
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" >Użytkownik: {{ user.username }} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Informacje o autorze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
          </li>
        </ul>

      </div>

    </nav>

    {% if user.is_authenticated %}

    <ul class="nav nav-pills nav-justified fixed-bottom navbar-dark">
      <li class="nav-item">
        <a class="button" href="{% url 'posts-home' %}">Oczekujące</a>
      </li>
      {% if user.stanowisko == "Driver" %}
      <li class="nav-item">
        <a class="button" href="{% url 'posts-trasa' %}">Trasa</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="button" href="{% url 'post-create' %}">Dodaj</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="button" href="{% url 'posts-zakonczone' %}">Archiwum</a>
      </li>
    </ul>

    {% endif %}

    <main role="main" class="container">

    <div class="col-md-12">
      {% block content %} {% endblock %}
    </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% endlanguage %}
</body>
</html>