{% extends "posts/base.html" %}
{% load static %}
{% block content %}

    {% for post in posts %}
    {% if post.oczekujace %}

    <div class="row">
        <div class="col-md-10">
            <div class="dane">
                <small class="text-muted">{{ post.date|date:"D, d M, G:i" }}</small>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.adres }}/{{post.nr_domu}}</a> </h4>
                {% if post.no_of_likes != None %}
                <h6> Zabiera: {{ post.no_of_likes }} </h6>
                {% endif %}
            </div>

        </div>
        <div class="col-md-2">
            {% if user.is_driver %}
            <button class="button btn-rounded" onclick=javascript:location.href="/like-post?post_id={{post.id}}"> Zabierz </button>
            {% else %}
            <button class="button btn-rounded" onclick=javascript:location.href="/change-status?post_id={{post.id}}"> OK </button>
            {% endif %}
        </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock content %}