{% extends "posts/base.html" %}
{% load static %}
{% block content %}

    {% for post in posts %}
    {% if post.oczekujace %}

    <div class="row">
        <div class="col-md-10">
            <div class="dane">
                <h4><a class="article-title">{{ post.restauracja }}</a> </h4>

                <h6>Dodano: {{ post.date|time }}</h6>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.adres }}/{{post.nr_mieszkania}}</a> </h4>
                {% if user.stanowisko == "Driver" %}
                <h5>Odbiór za: {{ post.czas_przygotowania }} min</h5>
                {% endif %}

                {% if post.no_of_likes != None %}
                <h6> Zabiera: {{ post.no_of_likes }} </h6>
                {% if post.status != "Oczekujące" %}
                    <h6 id="green"> Status: {{ post.status }} </h6>
                {% else %}
                    <h6 id="red"> Status: {{ post.status }} </h6>
                {% endif %}
                {% endif %}
            </div>

        </div>
        <div class="col-md-2">
            {% if user.stanowisko == "Driver" %}
            <div class="przycisk">
                <button class="button btn-rounded btn-nawiguj" onclick=javascript:location.href="/like-post?post_id={{post.id}}"> Zabierz </button>
                <button class="button btn-rounded btn-zadzwon" onclick=javascript:location.href="/dodaj-five?post_id={{post.id}}"> +5 </button>
                <button class="button btn-rounded btn-danger" onclick=javascript:location.href="/dodaj-ten?post_id={{post.id}}"> +10 </button>
            </div>

            {% endif %}

            {% if user.stanowisko == "Restaurator" and user.restauracja == post.restauracja %}

            <div class="przycisk">
                <button class="button btn-rounded btn-nawiguj" onclick=javascript:location.href="/post/{{post.id}}/delete"> Usuń </button>
                <button class="button btn-rounded btn-zadzwon" onclick=javascript:location.href="/post/{{post.id}}/update"> Edit </button>
            </div>

            {% endif %}

            {% if post.no_of_likes and post.trasa == False and user.restauracja == post.restauracja and user.stanowisko == "Restaurator"%}

                <script>
                    Swal.fire({
                      title: '{{ post.no_of_likes }} \n zabierze zamówienie: \n {{ post.adres }} \n Odbiór: {{ post.czas_odebrania|time }}',
                      showCancelButton: true,
                      confirmButtonText: 'Save',
                    }).then((result) => {
                      if (result.isConfirmed) {
                        window.location.href = "/change-status?post_id={{post.id}}";

                      } else if (result.isDenied) {
                        Swal.fire('Changes are not saved', '', 'info')
                      }
                    })
                </script>

            {% endif %}

        </div>
    </div>

    <script>
        function autoRefresh() {
            window.location = window.location.href;
        }
        setInterval('autoRefresh()', 10000);
    </script>

    {% endif %}
    {% endfor %}



{% endblock content %}