{% extends "posts/base.html" %}
{% block content %}

<div class="detail">
    <small class="text-muted">{{ post.date|date:"D, d M, G:i" }}</small>
    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.adres }}/{{post.nr_mieszkania}}</a> </h4>
    <br>

    <table class="table-sm" style="margin-left:auto;margin-right:auto;">
      <tbody>
        <tr>
          <td>Platforma</td>
          <th scope="row">{{ post.platforma }}</th>
        </tr>
        <tr>
          <td>Dostawca</td>
          <th scope="row">{{ post.no_of_likes }}</th>
        </tr>
         <tr>
          <td>Czas odbioru</td>
          <th scope="row">{{ post.czas_odebrania|time }}</th>
        </tr>
         <tr>
          <td>Czas dostarczenia</td>
          <th scope="row">{{ post.czas_dostarczenia|time }}</th>
        </tr>
        <tr>
          <td>Płatność</td>
          <th scope="row">{{ post.płatność }}</th>
        </tr>
        <tr>
          <td>Telefon</td>
          <th scope="row">{{ post.telefon }}</th>
        </tr>
        <tr>
          <td>Kwota</td>
          <th scope="row">{{ post.kwota }}</th>
        </tr>
        <tr>
          <td>Komentarz</td>
          <th scope="row">{{ post.komentarz }}</th>
        </tr>
      </tbody>
    </table>
</div>

{% endblock content %}