{% extends "posts/base.html" %}
{% block content %}
  <article class="media content-section">

    <div class="media-body">
<!--      <div class="article-metadata">-->
        <small class="text-muted">{{ object.date|date:"D, d M, G:i" }}</small>
<!--          <div>-->
<!--            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>-->
<!--            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>-->
<!--          </div>-->
<!--      </div>-->
        <h2 class="article-title">{{ object.adres }}/{{object.nr_domu}}</h2>
        <table class="table-sm">
          <tbody>
            <tr>
              <td>Kwota</td>
              <th scope="row">{{ object.kwota }}</th>
            </tr>
            <tr>
              <td>Płatność</td>
              <th scope="row">{{ object.płatność }}</th>
            </tr>
            <tr>
              <td>Telefon</td>
              <th scope="row">{{ object.telefon }}</th>
            </tr>
            <tr>
              <td>Komentarz</td>
              <th scope="row">{{ object.komentarz }}</th>
            </tr>
            <tr>
              <td>Platforma</td>
              <th scope="row">{{ object.platforma }}</th>
            </tr>
            {% if post.no_of_likes %}
            <tr>
              <td>Kierowca</td>
              <th scope="row">{{ post.no_of_likes }}</th>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <br>



<!--      <h2 class="article-title">{{ object.adres }}/{{object.nr_domu}}</h2>-->
<!--        <h6 class="text-muted">Kwota: {{ object.kwota }} </h6>-->
<!--        <small class="text-muted">Płatność:</small> {{ object.płatność }} <br>-->
<!--        <small class="text-muted">Telefon:</small> {{ object.telefon }} <br>-->
<!--        <small class="text-muted">Komentarz:</small> {{ object.komentarz }} <br>-->
<!--        <small class="text-muted">Platforma:</small> {{ object.platforma }} <br><br>-->
      <div class="row">
          {% if user.is_driver and post.zakonczone == False %}
          <div id="opcja1" class="col" onclick="javascript:location.href='https://www.google.com/maps/place/{{ object.adres }},+Olsztyn'">
            <h5 >Nawiguj</h5>
          </div>
          <div class="col" id="opcja2" onclick="javascript:location.href='tel:{{object.phone}}'">
               <h5 >Zadzwoń</h5>
          </div>
          {% else %}
          <div id="opcja1" class="col" onclick="javascript:location.href='{% url 'post-update' object.id %}'">
            <h5 >Update</h5>
          </div>
          <div class="col" id="opcja2" onclick="javascript:location.href='{% url 'post-delete' object.id %}'">
               <h5 >Delete</h5>
          </div>
          {% endif %}
      </div>
<!--      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="https://www.google.com/maps/dir/{{ object.adres }},+Olsztyn">Nawiguj</a>-->
<!--        <a class="btn btn-danger btn-sm mt-1 mb-1" href="tel:{{object.phone}}">Zadzwon</a>-->

    </div>

  </article>

{% endblock content %}