{% extends "posts/base.html" %}
{% load static %}
{% block content %}



    {% for post in posts %}
    {% if post.trasa and post.zabrane_przez == user.username %}

    <div class="row">
        <div class="col-md-10 trasa">
            <div class="dane">
                <h4><a class="article-title">{{ post.restauracja }}</a> </h4>
                 <h6>Dodano: {{ post.date|time }}</h6>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.adres }}/{{post.nr_mieszkania}}</a> </h4>
                <br>

                <table class="table-sm" style="margin-left:auto;margin-right:auto;">
                  <tbody>
                    <tr>
                      <td>Płatność</td>
                      <th scope="row">{{ post.płatność }}</th>
                    </tr>
                    <tr>
                      <td>Kwota</td>
                      <th scope="row">{{ post.kwota }}</th>
                    </tr>
                    <tr>
                      <td>Komentarz</td>
                      <th scope="row">{{ post.komentarz }}</th>
                    </tr>
                  </tbody>
                </table>

            </div>

        </div>
        <div class="col-md-2 text-center" id="przycisk">
            <div class="przycisk">
                <button class="button btn-rounded btn-nawiguj" onclick=javascript:location.href="/nawiguj?post_id={{post.id}}"> Nawiguj </button>
                <button class="button btn-rounded btn-zadzwon" onclick="javascript:location.href='tel:{{post.telefon}}'"> Zadzwoń </button>
                <button class="button btn-rounded btn-danger" onclick=javascript:location.href="/change-status-zakoncz?post_id={{post.id}}"> Zakończ </button>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock content %}