{% extends "posts/base.html" %}
{% load static %}
{% block content %}



    {% for post in posts %}
    {% if post.trasa %}

    <div class="row">
        <div class="col-md-10 trasa">
            <div class="dane">
                <small class="text-muted">{{ post.date|date:"D, d M, G:i" }}</small>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.adres }}/{{post.nr_domu}}</a> </h4>
                <br>

                <table class="table-sm">
                  <tbody>
                    <tr>
                      <td>Płatność</td>
                      <th scope="row">{{ post.płatność }}</th>
                    </tr>
                    <tr>
                      <td>Kwota</td>
                      <th scope="row">{{ post.kwota }}</th>
                    </tr>
                    <tr>
                      <td>Komentarz</td>
                      <th scope="row">{{ post.komentarz }}</th>
                    </tr>
                  </tbody>
                </table>

            </div>

        </div>
        <div class="col-md-2 text-center" id="przycisk">
            <div class="przycisk">
                <button class="button btn-rounded btn-nawiguj" onclick="javascript:location.href='https://www.google.com/maps/place/{{ post.adres }},+Olsztyn'"> Nawiguj </button>
                <button class="button btn-rounded btn-zadzwon" onclick="javascript:location.href='tel:{{post.telefon}}'"> Zadzwoń </button>
                <button class="button btn-rounded btn-danger" onclick=javascript:location.href="/change-status-zakoncz?post_id={{post.id}}"> Zakończ </button>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock content %}