{% extends "posts/base.html" %}
{% load static %}
{% block content %}

    {% for post in posts %}
    {% if post.zakonczone and user.restauracja == post.restauracja%}

    <div class="row">
        <div class="col-md-10">
            <div class="dane">
                <small class="text-muted">{{ post.date|date:"D, d M, G:i" }}</small>
                <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.adres }}/{{post.nr_mieszkania}}</a> </h4>
            </div>

        </div>
        <div class="col-md-2">
            <button class="button btn-rounded btn-delete" onclick="javascript:location.href='{% url 'post-delete' post.id %}'"> Usuń </button>
        </div>
    </div>

    {% endif %}
    {% endfor %}

{% endblock content %}